PORT=

# Docker network name
DOMINO_NETWORK=
POSTGRES_NETWORK=

# Authentication token for the /chat endpoint (optional)
CHAT_APP_TOKEN=

# LLM API configuration
LLM_BASE_URL=
LLM_API_KEY=

# PostgreSQL connection config
# has to have same settings as in domino
DOMINO_DB_USER=
DOMINO_DB_PASSWORD=
DOMINO_DB_HOST=
DOMINO_DB_PORT=
DOMINO_DB_NAME=